<div id="full_map">
    <img src="https://10.unpri.org/wp-content/uploads/2016/03/PRI-bluePrint.jpg" alt="" width="100%" usemap="#blueprint_map" id="blueprint_img">
    <map name="blueprint_map" id="blueprint_map">
        <area alt="" title="" href="#" shape="poly" coords="425,264,575,218,553,765,391,749" />
        <area alt="" title="" href="#" shape="poly" coords="635,145,1192,139,1292,566,1030,703,794,670,701,563,630,586,629,643,584,648,562,559,576,336" />
        <area alt="" title="" href="#" shape="poly" coords="574,246,578,155,501,132,425,123,379,81,326,100,278,142,225,131,164,173,178,232,244,261,329,281,266,373,349,389" />
    </map>
</div>